* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.header {
  background-color: #fff8f3;
  background-image: url("./images/header_bg.png"), url("./images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
.text-primary {
  color: orange;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
.btn-primary {
  background: orange;
  color: aliceblue;
  padding: 18px 35px;
  height: 65px;

  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  border: 0;
}
.banner {
  display: flex;
  align-items: center;
  margin: 0 200px;
}
.banner-header {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 5px;
  color: rgb(71, 70, 70);
}
.banner-intro {
  font-weight: 600;
  font-size: 85px;
  margin-bottom: 20px;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  margin-top: 130px;
}
.about {
  background-color: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.header-must {
  font-weight: 700;
  font-size: 35px;

  line-height: 48px;
  margin-bottom: 30px;
}
.about-description {
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  text-align: center;
}
.about-table {
  padding: 30px 179px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.info-title {
  font-weight: 400;
  font-size: 20px;
  color: #757575;
  text-align: center;
}
.info-description {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}

.section-title {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  color: #181818;
}
.section-title-description {
  margin-top: 30px;
  margin-bottom: 80px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  padding: 20px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skills {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  color: #181818;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-description {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}
